@import url('https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet');
* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

body {
  background-color: #191919;
  color: #ffffff;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#body-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.dark-mode {
  background-color: #191919;
  color: #ffffff
}

.dark-mode .content-section-wrapper {
  background-color: #666;
  border: 1px solid #ffffff;
}

.dark-mode .result-section {
  border: 3px solid #ffffff;
}

.dark-mode .key-item {
  border: 1px solid #ffffff;
}

.dark-mode .scientific-section {
  border: 1px solid #ffffff;
}

.dark-mode .darkmode-section {
  border: 1px solid #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000
}

.light-mode .content-section-wrapper {
  background-color: #f0f0f0;
  border: 1px solid #000000;
}

.light-mode .result-section {
  border: 3px solid #000000;
}

.light-mode .key-item {
  border: 1px solid #000000;
}

.light-mode .scientific-section {
  border: 1px solid #000000;
}

.light-mode .darkmode-section {
  border: 1px solid #000000;
}

.header-section {
  display: flex;
  margin: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logo-text {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  padding-left: 20px;
}

.content-section {
  display: grid;
  justify-content: center;
  align-items: center;
}


.content-section-wrapper {
  display: grid;
  width: 60vmin;
  height: 50vmin;
  grid-template-areas:
    "result result result result"
    "keys keys keys actions"
    "keys keys keys actions"
    "keys keys keys  actions"
    "spkeys spkeys spkeys actions";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  /* margin: 0 auto; */
}

.result-section {
  grid-area: result;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 12px;
  border: 3px solid #ffffff;
}

.keys-section {
  grid-area: keys;
}

.action-section {
  grid-area: actions;
  display: flex;
  flex-direction: column;
}

.action-section > div {
  flex: 1;
}

.action-section-scientific {
  grid-area: actions;
  display: flex;
  flex-direction: column;
}

.action-section-scientific > div {
  flex: 1;
}

.specialkeys-section {
  grid-area: spkeys;
  display: flex;
  flex-direction: row;
}

.specialkeys-section > div {
  flex: 1;
}

.keys-section {
  display: grid;
  grid-template-columns: repeat(3,33.33%);
  grid-template-rows: repeat(3,33.33%);
}

.key-item {
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key-item:hover {
  background: #000000;
  color: #ffffff;
}

.functional-keys-wrapper {
  display: flex;
  justify-content: center;
}

.scientific-section {
  border: 1px solid #ffffff;
  padding: 10px;
}

.darkmode-section {
  border: 1px solid #ffffff;
  padding: 10px;
}




